.btn {
  display: inline-block;
  padding: 21px 27px 20px;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 25px;
  transition: .5s;

  &:hover,
  &:focus {
    transition: .5s;
    border-color: #023659;
    background-color: #023659;
  }

  &_main {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
      position: absolute;
      content: '';
      background: linear-gradient(-56deg, #f7941e 7%, #f57825 33%, #f24f31 77%, #f23f36 100%);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      opacity: 1;
      transition: .5s;
    }

    &:hover:before,
    &:focus:before {
      opacity: 0;

    }
  }

  &_stroke {
    background-color: transparent;
    border-radius: 21px;
    border: 2px solid #ffffff;
    opacity: 0.7;
    padding: 15px 30px 14px;
  }
}

.btn_play {
  position: absolute;
  display: inline-block;
  border: none;
  width: 98px;
  height: 98px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 16px;
    height: 17px;
    background-image: url(../assets/img/triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 50%;
    left: 50%;
    margin-left: 2px;
    transform: translate(-50%, -50%);
  }
}