.menu {
  display: flex;

  &__item {
    opacity: 0.6;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.98px;
    line-height: 1;
    font-weight: 600;
    margin-left: 46px;

    .sub-menu {
      z-index: -1;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 2px 50px 2px rgba(0, 0, 0, .1);
      width: max-content;
      margin-top: 10px;
      padding: 24px 20px 20px;
      transition: all 0.35s ease;
      border-radius: 0 0 8px 8px;
      transform: translateY(15px);
      cursor: default;
      text-align: left;
      background: #246aa3;

      > li {
        margin: 0 0 15px 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }


    &:first-child {
      margin-left: 0;
    }

    &:hover, &:focus {
      -webkit-text-stroke: .5px #ffffff;
      opacity: .8;
    }

    &:hover > .sub-menu {
      z-index: 1;
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);

    }

    &:hover > .menu__link {
      &:before {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__link {
    display: inline-block;
    padding: 10px 0;
  }

  @include respond-to($md) {
    .menu__item {
      margin-left: 34px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  @media screen and (max-width: 720px) {
    &__link {
      padding: 5px 0;
    }
  }
}

.dropdown {
  > .menu__link {
    position: relative;
    padding-right: 26px;

    &:before {
      position: absolute;
      display: block;
      content: '';
      background-image: url(../assets/img/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 13px;
      height: 8px;
      top: 50%;
      transform-origin: 50% 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 1;
    }
  }
}