
.container {
  max-width: 1060px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;

  @include respond-to($md) {
    max-width: 540px
  }

  @include respond-to($xs) {
    max-width: 420px;
  }
}
