.section-gallery {
  position: relative;
  padding-top: 70px;
  padding-bottom: 178px;
  background-color: #023659;

  &:before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../assets/img/waves2.svg);
    width: 100%;
    height: 327px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
  }

  .title {
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    margin: 0 auto;
    padding: 0 10px;
  }

  .container {
    position: relative;
  }
}

.slider-process {
  padding-top: 77px;
  overflow: visible;

  &__nav {
    width: 75px;
    height: 75px;
    position: absolute;
    border: 2px solid #ffffff;
    opacity: 0.3;
    border-radius: 50%;
    right: 20px;
    bottom: -100px;
    transition: .5s;

    &:hover,
    &:focus {
      background-color: #f7941e;
      opacity: 1;
      border-color: #f7941e;
    }
  }
}

.process-slide {
  width: 305px;
  border-radius: 16px;
  height: 230px;

  &:hover {
    box-shadow: 0 5px 14px 14px rgba(0, 0, 0, 0.18);
  }

  &:nth-of-type(odd) {
    align-self: flex-start;
  }

  &:nth-of-type(odd) {
    margin-top: 75px;

    .process-slide__label {
      bottom: 45px;
      top: auto;
    }
  }

  &__label {
    position: absolute;
    display: inline-block;
    box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #28b0da 7%, #2390c2 35%, #1e67a2 78%, #1c5796 100%);
    font-size: 13px;
    letter-spacing: 1.3px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    border-radius: 25px;
    color: rgba(255, 255, 255, .7);
    padding: 18px 10px 20px;
    min-width: 163px;
    z-index: 2;

    &_top {
      top: -12px;
      left: 0;
      transform: translateX(-50%);
    }

    &_bottom {
      bottom: -34px;
      right: 0;
      transform: translateX(50%);
    }
  }

  &__thumb {
    position: relative;
    display: block;
    padding-top: 67%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.swiper-button-next, .swiper-button-prev {
  width: 20px;
  color: #ffffff;

  &:after {
    font-size: 12px;
  }
}

@media screen and (max-height: 768px) {
  .process-slide {
    &__label_top {
      transform: translateX(-15%);
    }

    &__label_bottom {
      bottom: -20px;
      left: auto;
      right: 17%;
      transform: translateX(100%);
    }
  }
}

@include respond-to($lg) {
  .section-gallery {
  }
  &:before {
    background-size: auto;
  }
  .process-slide {
    &__label_top {
      transform: translateX(-25%);
    }

    &__label_bottom {
      transform: translateX(-25%);
    }
  }
}

@include respond-to($md) {
  .section-gallery {
    padding-top: 75px;
  }
  .process-slide__label_top {
    transform: translateX(25%);
    left: auto;
    top: -28px;
  }
  .process-slide__label_bottom {
    transform: translateX(25%);
    right: auto;
    left: 0;
  }
  .slider-process {
    max-width: 303px;
    width: 100%;

    &__nav {
      bottom: -90px;
      right: 40px;
    }
  }
}

@include respond-to($sm) {
  .section-gallery {
    &:before {
      background-position: center;
      top: 150px;
    }

    .title {
      padding: 0;
    }
  }
  .slider-process {
    width: 248px;

    &__nav {
      right: 174px;
    }
  }
  .process-slide {
    height: 188px;
  }
  .process-slide:nth-of-type(odd) {
    margin-top: 60px;
  }

}

@include respond-to($xs) {
  .section-gallery {
    &:before {

    }
  }

  .slider-process__nav {
    right: 36px;
  }
}