.section-banner {
  position: relative;
  padding-top: 16vh;
  padding-bottom: 24px;
  background-image: linear-gradient(-56deg, #28b0da 7%, #2390c2 35%, #1e67a2 78%, #1c5796 100%);
  text-align: center;
  align-items: flex-start;

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
  }

  &:before {
    width: calc(50% + 86px);
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-image: url(../assets/img/waves.svg);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: auto;
  }

  &:after {
    width: 204px;
    height: 204px;
    border: 90px solid #ffffff;
    opacity: 0.15;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  .line {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    &_1 {
      width: 14px;
      background-image: url(../assets/img/line1.svg);
      left: 16%;
    }

    &_2 {
      width: 8px;
      background-image: url(../assets/img/line2.svg);
      left: 63%;
    }

    &_3 {
      width: 10px;
      background-image: url(../assets/img/line3.svg);
      right: 19.5%;
    }
  }

  .banner-img-wrap {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;

    img {
      display: block;
      margin: 0 auto;
    }

    &_1 {
      left: -7px;
      transform: translate(-100%, -100%);
      bottom: 43px;
      width: 167px;
      height: 91px;
      border-radius: 45px;
      top: 35%;
    }

    &_2 {
      bottom: 55%;
      left: -90px;
      transform: translate(-100%, 100%);
      border-radius: 50%;
      width: 174px;
      height: 174px;
    }

    &_4 {
      right: -66px;
      bottom: 0;
      transform: translate(100%, -55%);
      border-radius: 50%;
      width: 111px;
      height: 110px;
      border: 20px solid rgba(255, 255, 255, .2);
      box-shadow: 0 0 0 25px rgba(255, 255, 255, .1);
    }

    &_5 {
      border-radius: 81px;
      width: 298px;
      height: 162px;
      right: 0;
      transform: translate(100%, 100%);
      top: 0;
    }
  }

  .banner-img-wrap_3 {
    position: static;
    width: 496px;
    height: 270px;
    border-radius: 135px;
    margin: 0 auto;
  }

  &__content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
  }

  .title {
    color: #ffffff;
    font-size: 52px;
    letter-spacing: 0.8px;
    line-height: 1.175;
    font-weight: 700;
    margin: 0 auto 40px;
  }

  .btn_main {
    margin-bottom: 86px;
  }
}

@media screen and (max-height: 768px) {
  .section-banner {
    .btn_main {
      margin-bottom: 50px;
    }

    .banner-img-wrap_1 {
      width: 150px;
      height: 80px;
    }

    .banner-img-wrap_2 {
      width: 150px;
      height: 150px;
    }

    .banner-img-wrap_3 {
      width: 435px;
      height: 238px;
    }

    .banner-img-wrap_5 {
      width: 266px;
      height: 145px;
    }
  }
}

@include respond-to($lg) {
  .section-banner {
    .line {
      &_1 {
        left: 3%;
      }

      &_2 {
        left: 67%;
      }

      &_3 {
        right: 4.5%;
      }
    }
  }
}

@include respond-to($md) {
  .section-banner {
    padding-top: 136px;
    padding-bottom: 75px;

    .line {
      &_1 {
        left: 8.25%;
      }

      &_2 {
        left: 73%;
      }

      &_3 {
        right: 7%;
      }
    }
  }
}

@include respond-to($sm) {
  .section-banner {
    padding-top: 150px;

    &:after {
      display: none;
    }
  }
}

@include respond-to($xs) {
  .section-banner {
    padding-bottom: 194px;
    &__content {
      padding-bottom: 270px;
    }

    &:before {
      display: none;
    }

    .title {
      font-size: 40px;
    }

    .line {
      display: none;
    }


    .banner-img-wrap_1 {
      left: 38px;
    }

    .banner-img-wrap_3 {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-75%);
    }

    .banner-img-wrap_5 {
      right: -20px;
    }

    .banner-img-wrap_4 {
      right: 90px;
      bottom: -188px;
    }
  }
}




