.section-product {
  padding-bottom: 3.5vh;
  position: relative;
  font-size: 13px;
  font-weight: 500;

  &:before {
    position: absolute;
    content: '';
    background-image: url(../assets/img/bg-line-prod.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    left: 51%;
    top: 0;
    bottom: 0;
  }

  .title {
    margin-bottom: 55px;
  }

  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    padding: 29px 48px 36px 0;
    min-height: 390px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }

  &__img {
    width: 100%;
    max-width: 437px;
    height: 100%;
  }

  &__description {
    position: relative;
    padding-left: 13px;
    padding-bottom: 16px;
    margin-bottom: 62px;
    font-weight: 600;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 90%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #00aeef;
    }
  }

  &:nth-of-type(odd) {
    background-color: #d9f0f9;

    &:before {
      left: -50%;
      transform: scale(-1, 1);
    }

    .packaging__item {
      background-color: #00aeef;
    }
  }
}

.grid-layout__row {
  display: flex;
}

.grid-layout__col-right {
  width: 56%;
  padding-top: 30px;
  padding-left: 70px;
  padding-bottom: 42px;
}

.grid-layout__col-left {
  position: relative;
  width: 44%;
  min-height: 390px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.packaging {
  display: flex;
  color: #ffffff;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.06px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 133px;
    border-radius: 18px;
    background-color: #d9f0f9;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.specifications {
  margin-bottom: 22px;

  &__item {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
