.section-product {
  padding-bottom: 3.5vh;
  position: relative;
  font-size: 13px;
  font-weight: 500;

  &:before {
    position: absolute;
    content: '';
    background-image: url(../assets/img/bg-line-prod.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    left: 51%;
    top: 0;
    bottom: 0;
    pointer-events: none;
  }

  .title {
    margin-bottom: 55px;
  }

  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    padding: 29px 48px 36px 0;
    height: 390px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }

  &__img {
    width: auto;
    height: 100%;
  }

  &__description {
    position: relative;
    padding-left: 13px;
    padding-bottom: 16px;
    margin-bottom: 62px;
    font-weight: 600;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 90%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #00aeef;
    }
  }

  &:nth-of-type(odd) {
    background-color: #d9f0f9;

    &:before {
      left: -50%;
      transform: scale(-1, 1);
    }

    .packaging__item {
      background-color: #00aeef;
    }
  }
}

.grid-layout__row {
  display: flex;
}

.grid-layout__col-right {
  width: 56%;
  padding-top: 30px;
  padding-left: 70px;
  padding-bottom: 42px;
}

.grid-layout__col-left {
  position: relative;
  width: 44%;
  height: 390px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.packaging {
  display: flex;
  color: #ffffff;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.06px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 133px;
    border-radius: 18px;
    background-color: #d9f0f9;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.specifications {
  margin-bottom: 22px;

  &__item {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include respond-to($xl) {
 .section-product{
   font-size: 16px;
   &__img-wrap{
     height: 450px;
   }
 }
}

@include respond-to($md) {
  .section-product {
    padding-top: 115px;
    padding-bottom: 103px;

    &__img-wrap {
      padding-right: 60px;
      right: 20px;
    }

    .grid-layout__row {
      flex-wrap: wrap;
    }

    .grid-layout__col-right {
      width: 100%;
      padding-top: 0;
      padding-left: 7px;
    }

    .grid-layout__col-left {
      width: 100%;
      margin-bottom: 50px;
    }
  }
  .packaging {
    justify-content: center;
  }
  .packaging__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@include respond-to($sm) {
  .section-product {
    &:before {
      left: 9%;
      top: -45px;
    }

    &:nth-of-type(odd):before {
      left: -9%;
    }

    &__img-wrap {
      padding-top: 38px;
    }
  }
}
@media screen and (max-width: 720px) {
  .section-product__img-wrap {
    right: 10%;
  }
}
@include respond-to($xs) {
  .section-product {
    padding-top: 95px;
    padding-bottom: 64px;

    &:before{
      width: 490px;
      height: 500px;
      background-size: contain;
      left: 100px;
      top: -17px;
    }
    &:nth-of-type(odd):before {
      right: 110px;
      left: auto;
    }
    &__img-wrap {
      padding: 18px 30px 23px 0;
      height: 245px;
      right: 0;
    }

    &__img {
      max-width: 275px;
    }
    &__description{
      margin-bottom: 38px;
    }
  }
  .packaging{
    font-size: 32px;
  }
  .packaging__item {
    min-width: 131px;
    height: 86px;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
  .grid-layout__col-left {
    min-height: 245px;
    max-width: 267px;
    margin: 0 auto 57px;
  }
}

@media screen and (max-width: 420px) {
  .section-product:before{
    left: 0;
    top: 5px;
  }
  .section-product:nth-of-type(odd):before {
    right: -4px;
  }
}
